### Name    : Sarukh Mureed
### Roll No : 128
### Section : 3B

### `IMPORTING LIBRARIES`

In [ ]:

# importing libraries

import pandas as pd

### `IMPORTING DATA`

In [3]:
# importing data
Dataset = pd.read_csv("data.csv")

### `PRINTING FIRST 5 ROWS OF THE DATASET`

In [4]:
# printing head values from the data set - 5
Dataset.head(5)

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,5/2/2014 0:00,313000.0,3,1.50,1340.0,7912.0,1.5,0.0,0.0,3.0,1340.0,0.0,1955.0,2005.0,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,5/2/2014 0:00,2384000.0,5,2.50,3650.0,9050.0,2.0,0.0,4.0,5.0,3370.0,280.0,1921.0,0.0,709 W Blaine St,Seattle,WA 98119,USA
2,5/2/2014 0:00,342000.0,3,2.00,1930.0,11947.0,1.0,0.0,0.0,4.0,1930.0,0.0,1966.0,0.0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,5/2/2014 0:00,420000.0,3,2.25,2000.0,8030.0,1.0,0.0,0.0,4.0,1000.0,1000.0,1963.0,0.0,857 170th Pl NE,Bellevue,WA 98008,USA
4,5/2/2014 0:00,550000.0,4,NaN,NaN,NaN,NaN,NaN,0.0,4.0,1140.0,800.0,1976.0,1992.0,9105 170th Ave NE,Redmond,WA 98052,USA

### `PRINTING LAST 5 ROWS OF THE DATASET`

In [5]:
# printing head values from the data set - 5
Dataset.tail()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
4595,7/9/2014 0:00,308166.6667,3,1.75,1510.0,6360.0,1.0,0.0,0.0,4.0,1510.0,0.0,1954.0,1979.0,501 N 143rd St,Seattle,WA 98133,USA
4596,7/9/2014 0:00,534333.3333,3,2.50,1460.0,7573.0,2.0,0.0,0.0,3.0,1460.0,0.0,1983.0,2009.0,14855 SE 10th Pl,Bellevue,WA 98007,USA
4597,7/9/2014 0:00,416904.1667,3,2.50,3010.0,7014.0,2.0,0.0,0.0,3.0,3010.0,0.0,2009.0,0.0,759 Ilwaco Pl NE,Renton,WA 98059,USA
4598,7/10/2014 0:00,203400.0000,4,2.00,2090.0,6630.0,1.0,0.0,0.0,3.0,1070.0,1020.0,1974.0,0.0,5148 S Creston St,Seattle,WA 98178,USA
4599,7/10/2014 0:00,220600.0000,3,2.50,1490.0,8102.0,2.0,0.0,0.0,4.0,1490.0,0.0,1990.0,0.0,18717 SE 258th St,Covington,WA 98042,USA

### `PRINTING TOTAL ROWS AND COLUMNS`

In [ ]:
# printing rows and cloumns
print('rows: ', Dataset.shape[0]) 
print('columns: ', Dataset.shape[1])

rows:  4600
columns:  18

### `CHECKING NULL VALUES IN THE DATASET`

In [ ]:
# checking null values
Dataset.isnull().sum()

date              0
price             0
bedrooms          0
bathrooms        47
sqft_living      47
sqft_lot         47
floors           47
waterfront       47
view             48
condition        48
sqft_above       48
sqft_basement    48
yr_built         48
yr_renovated     48
street           48
city              0
statezip          0
country           0
dtype: int64

### `CHECKING DATA TYPES OF EACH COLUMN`

In [ ]:
# checking data types 
Dataset.dtypes

date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living      float64
sqft_lot         float64
floors           float64
waterfront       float64
view             float64
condition        float64
sqft_above       float64
sqft_basement    float64
yr_built         float64
yr_renovated     float64
street            object
city              object
statezip          object
country           object
dtype: object

### `REPLACING MISSING VALUES WITH MEAN / MEDIAN / MODE`

In [12]:
# replacing with mean mode media, 
Dataset['price'].fillna(Dataset['price'].median(), inplace=True)
Dataset['bedrooms'].fillna(Dataset['bedrooms'].median(), inplace=True)
Dataset['bathrooms'].fillna(Dataset['bathrooms'].median(), inplace=True)
Dataset['sqft_living'].fillna(Dataset['sqft_living'].mean(), inplace=True)
Dataset['sqft_lot'].fillna(Dataset['sqft_lot'].mean(), inplace=True)
Dataset['floors'].fillna(Dataset['floors'].median(), inplace=True)
Dataset['waterfront'].fillna(Dataset['waterfront'].mode()[0], inplace=True)
Dataset['view'].fillna(Dataset['view'].median(), inplace=True)
Dataset['condition'].fillna(Dataset['condition'].median(), inplace=True)
Dataset['sqft_above'].fillna(Dataset['sqft_above'].mean(), inplace=True)
Dataset['sqft_basement'].fillna(Dataset['sqft_basement'].mean(), inplace=True)
Dataset['yr_built'].fillna(Dataset['yr_built'].median(), inplace=True)
Dataset['yr_renovated'].fillna(Dataset['yr_renovated'].median(), inplace=True)

for col in ['date', 'street', 'city', 'statezip', 'country']:
    Dataset[col].fillna(Dataset[col].mode()[0], inplace=True)

C:\Users\Sarukh\AppData\Local\Temp\ipykernel_1568\1441795485.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Dataset['price'].fillna(Dataset['price'].median(), inplace=True)
C:\Users\Sarukh\AppData\Local\Temp\ipykernel_1568\1441795485.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Dataset['bedrooms'].fillna(Dataset['bedrooms'].median(), inplace=True)
C:\Users\Sarukh\AppData\Local\Temp\ipykernel_1568\1441795485.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Dataset['bathrooms'].fillna(Dataset['bathrooms'].median(), inplace=True)
C:\Users\Sarukh\AppData\Local\Temp\ipykernel_1568\1441795485.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Dataset['sqft_living'].fillna(Dataset['sqft_living'].mean(), inplace=True)
C:\Users\Sarukh\AppData\Local\Temp\ipykernel_1568\1441795485.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Dataset['sqft_lot'].fillna(Dataset['sqft_lot'].mean(), inplace=True)
C:\Users\Sarukh\AppData\Local\Temp\ipykernel_1568\1441795485.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Dataset['floors'].fillna(Dataset['floors'].median(), inplace=True)
C:\Users\Sarukh\AppData\Local\Temp\ipykernel_1568\1441795485.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Dataset['waterfront'].fillna(Dataset['waterfront'].mode()[0], inplace=True)
C:\Users\Sarukh\AppData\Local\Temp\ipykernel_1568\1441795485.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Dataset['view'].fillna(Dataset['view'].median(), inplace=True)
C:\Users\Sarukh\AppData\Local\Temp\ipykernel_1568\1441795485.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Dataset['condition'].fillna(Dataset['condition'].median(), inplace=True)
C:\Users\Sarukh\AppData\Local\Temp\ipykernel_1568\1441795485.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Dataset['sqft_above'].fillna(Dataset['sqft_above'].mean(), inplace=True)
C:\Users\Sarukh\AppData\Local\Temp\ipykernel_1568\1441795485.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Dataset['sqft_basement'].fillna(Dataset['sqft_basement'].mean(), inplace=True)
C:\Users\Sarukh\AppData\Local\Temp\ipykernel_1568\1441795485.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Dataset['yr_built'].fillna(Dataset['yr_built'].median(), inplace=True)
C:\Users\Sarukh\AppData\Local\Temp\ipykernel_1568\1441795485.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Dataset['yr_renovated'].fillna(Dataset['yr_renovated'].median(), inplace=True)
C:\Users\Sarukh\AppData\Local\Temp\ipykernel_1568\1441795485.py:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Dataset[col].fillna(Dataset[col].mode()[0], inplace=True)